body {
    margin: 0;
}

main {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #CDCDCD;
    /* background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(142,139,187,1) 0%, rgba(69,68,113,1) 25%, rgba(148,148,203,1) 50%, rgba(63,154,180,1) 75%, rgba(0,212,255,1) 100%);*/
}

h1 {
    background: tomato;
    padding: 10px 20px;
    border-radius: 25px;
}
